{% extends "default.html" %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}

    <div class="container">

      <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">Самый 
          <strong>уютный и теплый </strong> ресторан города
        </h2>
        <hr class="divider">
        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'main/project/restoran/alize.jpeg' %}" alt="" width="100%" height="83%">
          </div>
          <div class="col-lg-6">
            <p>Alize - уютный семейный ресторан с душевной атмосферой, куда можно приходить каждый день, чтобы приятно провести время с семьей или в кругу близких людей.</p>
            <p>В нашем ресторане Вы можете отведать вкусную кухню, пока Ваши дети весело и занимательно проводят время в детской игровой комнате. </p>
            <p>В праздничные дни мы проводим массовые развлечения для детей и взрослых. Мы организуем Вам теплые и вкусные встречи, любые банкеты и праздники!</p>
          </div>
        </div>
      </div>

      <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">Наша
          <strong>Команда</strong>
        </h2>
        <hr class="divider">
        <div class="row">
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="card h-100">
              <img class="card-img-top" src="{% static 'main/project/restoran/waiters1.jpeg' %}" alt="" width="300" height="200">
              
            </div>
          </div>
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="card h-100">
              <img class="card-img-top" src="{% static 'main/project/restoran/waiters22.jpeg' %}" alt="" width="300" height="200">
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100">
              <img class="card-img-top" src="{% static 'main/project/restoran/waiters33.jpeg' %}" alt="" width="300" height="200">
              
            </div>
          </div>
        </div>
      </div>
       <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">Мы поможем Вам воплотить
          <strong>мечты Вашего ребенка</strong>
        </h2>
        <hr class="divider">
        <p class ="about">Команда игромастеров Alize проводит оригинальные праздники для детей и подростков с множеством различных сценариев, шоу, мастер-классов и других развлечений!</p>
        <div class="row">
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="card h-100">
              <img class="card-img-top" src="{% static 'main/project/restoran/baby.jpeg' %}" alt="" width="300" height="200">
              
            </div>
          </div>
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="card h-100">
              <img class="card-img-top" src="{% static 'main/project/restoran/baby2.jpeg' %}" alt="" width="300" height="200">
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100">
              <img class="card-img-top" src="{% static 'main/project/restoran/baby3.jpeg' %}" alt="" width="300" height="200">
              
            </div>
          </div>
        </div>
        <br>
        <p class = "about">Ведение праздников, корпоративов, шоу-программ, украшение залов</p>
        <div class="row">
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="card h-100">
              <img class="card-img-top" src="{% static 'main/project/restoran/korp (2).jpeg' %}" alt="" width="300" height="200">
              
            </div>
          </div>
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="card h-100">
              <img class="card-img-top" src="{% static 'main/project/restoran/korp2.jpeg' %}" alt="" width="300" height="200">
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100">
              <img class="card-img-top" src="{% static 'main/project/restoran/korp3.jpeg' %}" alt="" width="300" height="200">
              
            </div>
          </div>
        </div>
        
      </div>
      


    </div>
     

    {% endblock %}
