{% extends "default.html" %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}


    <div class="container">
    	
	<form class="modal-content animate" action="{% url 'login' %}" method="post">
		{% csrf_token %}
		<div class="imgcontainer">
      
      <img src="{% static 'main/project/alize.png' %}" alt="Avatar" class="avatar">
    </div>
		<label for="username">Username</label>
		<input type="text" name="username" id="username">
		<label for="password">Password</label>
		<input type="password" name="password" id="password">
		{% if login_error %}
		<label class="error">{{ login_error }}</label>
		{% endif %}
		<input class="button lg" type="submit" value="Login">
		<div class="reg"><a href="{% url 'reg' %}">Sign up</a></div>
	</form>
</div>
s
{% endblock %}